<IfModule mod_rewrite.c>

	Options +FollowSymlinks
	RewriteEngine On

	#RewriteCond %{HTTP_HOST} ^www\.dancu\.dev [NC]
	#RewriteRule ^(.*)$ https://dancu.dev/$1 [L,R=301]
	# Send request via index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]

	SetEnvIf Host qldc.byethost7.com$ CI_ENV=production

</IfModule>